.flex-container{
    display: flex;
    justify-content: space-evenly;
    box-shadow: var(--box-shadow);
    padding: 20px 10px;
    border-radius:  var(--border-radius);
    background-color: var(--main-bg);
}