.new {
    width: 100%;
    display: flex;
}

.video-wrapper{
    position: relative;
}
.video-wrapper .progress__bar{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: black
    ;
}

.video-wrapper img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.rotate-button{
    animation: rotate 5s normal linear infinite;
    font-size: 15px;
    margin-right: 10px;
}
@keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 270deg);
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }
  .form-flex-video{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;
  }
  .button-wrapper {
    position: relative;
    width: 150px;
    text-align: center;
  }
  
  .button-wrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: var(--main-color-blue);
    cursor: pointer;
    color: #fff;
    padding: 13px 0;
    border-radius: 5px;
    text-transform:uppercase;
    font-size:12px;
  }
  
  #file {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }
  .button__box{
    text-align: center;
  }
  .button-table-padding-1{
    padding: 13px 30px !important;
    text-transform:uppercase;
    font-size:12px;
    width: 150px;
    border-radius: 5px;
}
.selectHeight{
    height: 40px;
}
.progress-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    column-gap: 50px;
}
.progress-flex .progress-bar{
  width: 400px;
  position: relative;
  border-radius: 10px;
  background-color: #349dff40;
}

.progress-flex .progress-bar .progress-color{
  background-color: var(--main-color-blue);
  border-radius: 10px;
  z-index: 10000;
  text-align: center;
}
.EnableButton{
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.table-wrapper > p{
  margin-bottom: 10px;
}
.card__body{
  margin-top: 20px;
}
.deleteButton{
  padding: 8px 30px;
  cursor: pointer;
  background-color: var(--main-color-blue);
  color: white;
  border-radius: 5px;
}
.soldNft{
  width: 70px;
  background-color: var(--main-color-blue);
  height: 37px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
}
.unsoldNft{
  background-color: rgb(25, 180, 1);
}
.soldNft input[type="checkbox"]{
  position: absolute;
  inset: 0;
  opacity: 0;
}
.nftheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
