@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-bg: #ffffff;
    --second-bg: #fafafb;
    --txt-color: #455560;
    --txt-white: #fff;
    --main-color: #349eff;
    --second-color: #62b4ff;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-light: #ffffff;
    --second-bg-light: #fafafb;
    --txt-color-light: #455560;
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-dark: #2d2d2d;
    --second-bg-dark: #202020;
    --txt-color-dark: #bbbbbb;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

    --main-color-blue: #349eff;
    --second-color-blue: #62b4ff;

    --main-color-red: #fb0b12;
    --second-color-red: #ff4a6b;

    --main-color-cyan: #10d4d2;
    --second-color-cyan: #2ae9e6;

    --main-color-green: #019707;
    --second-color-green: #4caf50;

    --main-color-orange: #d68102;
    --second-color-orange: #fca11a;

    --sidebar-width: 260px;
    --border-radius: 15px;
    --topnav-height: 90px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {

    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.7px;
}
a{
    text-decoration: none;
    color: unset;
}
a:hover {
    color: var(--main-color);
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    color: var(--txt-color);
}

ul {
    list-style-type: none;
}

input {
    border: 2px solid transparent;
    outline: 0;
}

input:focus {
    border: 2px solid var(--main-color);
}
.page-header{
    margin-bottom: 40px;
    text-transform: capitalize;
}

.card{
    padding: 30px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--main-bg);
    margin-bottom: 30px;
}
.full-height {
    height: 100%;
}
.card.full-height {
    height: calc(100% - 30px);
}
.card__header{
    text-transform: capitalize;
}
.card > div ~ div {
    margin-top: 30px;
}
.card__footer {
    text-align: center;
    text-transform: capitalize;
}
.card__header-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.turnament-table{
    margin-top: 30px;
    padding: 10px;
    background-color: var(--main-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.rotate-button{
    animation: rotate 5s normal linear infinite;
    font-size: 15px;
    margin-right: 10px;
}
@keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 270deg);
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }
  

 .datatableTitle .link {
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.cellWithImg {
    display: flex;
    align-items: center;
}
.cellWithImg .cellImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.cellWithStatus {
    padding: 5px;
    border-radius: 5px;
}
.cellWithStatus.active {
    background-color: rgba(0, 128, 0, 0.05);
    color: green;
}
.cellWithStatus.pending {
    background-color: rgba(255, 217, 0, 0.05);
    color: goldenrod;
}
.cellWithStatus.passive {
    background-color: rgba(255, 0, 0, 0.05);
    color: crimson;
}
.cellAction {
    display: flex;
    align-items: center;
    gap: 15px;
}
.cellAction .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
}
.cellAction .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
}
.add-conatiner .MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: none !important;
}
.card__body .MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: none !important;
}

